$black: #000;
$white: #fff;
$yellow-orange: #ffcc00;

body {
    background-color: $yellow-orange;
    color: $white;
    font-size: 10px;
    h1 {
        &:hover {
            transition: color 1s ease;
        }
    }
}
